@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  color: #ffffff;
}

.bg-bento-bg-image,
.bg-gradient-radial-bento {
  /* card */
  background-color: #1d1d3b;
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-m {
  @apply text-body-m leading-6 tracking-tight font-normal;
}

.body-s {
  @apply text-body-s leading-6 tracking-tight font-normal;
}

.body-xs {
  @apply text-body-xs leading-6 tracking-tight font-normal;
}

.custom-border {
  @apply border border-white border-opacity-10;
}

.gradientButton {
  @apply py-1 px-4 rounded-lg bg-bleached-purple bg-opacity-40 backdrop-blur-lg shadow-inner-shadow-custom;
}

.white-button {
  @apply py-1 px-4 rounded-lg bg-white text-black font-medium text-body-s leading-8;
}

.gradientText {
  @apply bg-gradient-to-b from-custom-gradient-start to-custom-gradient-end text-transparent bg-clip-text;
}

.large-heading-text {
  @apply font-medium text-heading-1  tracking-heading-spacing;
}

.heading-text {
  @apply font-medium text-heading-2 leading-sm-heading-height tracking-heading-spacing;
}

.heading-paragraph {
  @apply font-light leading-7 text-body-l;
}

.hero-img {
  @apply w-full -m-16;
}

.small-bento-item {
  @apply col-span-3 row-span-2 w-full flex flex-col items-center justify-center p-[32px] rounded-3xl bg-bento-bg-image;
}

.big-bento-item {
  @apply col-span-3 row-span-1 flex flex-col justify-center items-center rounded-3xl p-[32px] bg-bento-bg-image;
}
